- if flash[:notice]
  .notice=flash[:notice]

/ %div.row.form # .form_container
/   %div.row #.header
/     %div.small-10.small-push-1
/       %h1 Create a new event

%div.form_container
  %div
    %div
      %h1 Create a new event

  %div
    %div
      %div
        = form_for [:admin, @event] do |f|
          %div
            = f.text_field :title, :placeholder => "title"
          %div
            = f.text_area :description, :placeholder => "talk description"
          %div.small-7
            = f.date_field :date
          %div.small-7
            = f.text_field :start_time, :placeholder => "start time"
          %div.right
            = f.submit "Create", :class => "button radius"



