- if flash[:notice]
  .notice=flash[:notice]

%div.row.form
  %div.row
    %h1 Create a new event

  %div.row
    %div.small-10.small-push-1
      %div.new_event_form
        = form_for [:admin, @event] do |f|
          %div.row
            %div
              = f.text_field :title, :placeholder => "title"
          %div.row
            %div
              = f.text_area :description, :placeholder => "talk description"
          %div.row
            %div.small-5
              = f.date_field :date
          %div.row
            %div.small-5
              = f.text_field :start_time, :placeholder => "start time"
          %div.row
            = f.submit
