= form_for [:organizer, event] do |f|
  %div
    = f.label :title
    = f.text_field :title, :placeholder => "What is your event called?"
  %div
    = f.label :logo_url, value: "URL of logo"
    = f.text_field :logo_url, :placeholder => "URL to the logo of the event."
  %div
    = f.label :description
    = f.text_area :description, :placeholder => "Give information that will help people decide what talks to give."
  %div.small-7
    = f.label :date, value: "Date of event"
    = f.date_field :date
  %div.small-7
    = f.label :start_time, value: "Start time"
    = f.text_field :start_time, :placeholder => "What time does the event start?"
  = f.fields_for :event_talk, event_talk do |et|
    %div
      = et.label :talk_time, value: "Talk time in minutes"
      = et.text_field :talk_time, placeholder: "How long is each talk in minutes?"
    %div
      = et.label :talk_slots
      = et.text_field :talk_slots, placeholder: "How many talk slots are there?"
    %div
      = et.label :talk_submission_guidelines, value: "Submission Guidelines (limited html available)"
      = et.text_area :talk_submission_guidelines, placeholder: "Any guidelines for submitting talks? Where to send slides, etc?"
  %div.right
    = f.submit button_text, :class => "button radius"

