- if flash[:notice]
  .notice=flash[:notice]

%div.form_container
  %div
    %div
      %h1 Create a new event

  %div
    %div
      %div
        = form_for [:organizer, @event] do |f|
          %div
            = f.text_field :title, :placeholder => "Name of the event"
          %div
            = f.text_area :description, :placeholder => "Description of the event"
          %div.small-7
            = f.date_field :date
          %div.small-7
            = f.text_field :start_time, :placeholder => "start time"
          %div.right
            = f.submit "Create", :class => "button radius"



