<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lightning Vote" %></title>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="fixed show-for-medium-up">
        <nav class="top-bar show-for-medium-up" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <a href="/" class="logo"><%= image_tag "lightning-vote-logo.png" %></a>
            </li>
          </ul>
          <section class="top-bar-section show-for-medium-up">
            <ul class="right top-fix">
              <% if logged_in? %>
                <li><a href="/organizer/events/new">Create New Event</a></li>
                <li><a href="/current_user">My Profile</a></li>
                <li><%= link_to "Logout", session_path, :method => :delete %></li>
              <% else %>
                <li><a href="/auth/identity/register">Signup</a>
                <li><a href="/auth/identity">Login</a></li>
              <% end %>
            </ul>
          </section>
      </div>

      <div class="fixed show-for-small-only">
        <nav class="top-bar" data-topbar role="navigation">
          <a href="/" class="logo"><%= image_tag "lightning-vote-logo.png" %></a>

          <section class="top-bar-section small-menu-icon right">
            <ul class="right small-screen-menu">
              <li class="has-dropdown">
                <a class="small-menu-dropdown" href="#"></a>
                <ul class="dropdown right">
                <% if logged_in? %>
                  <li><a href="/organizer/events/new">Create New Event</a></li>
                  <li><a href="/current_user">My Profile</a></li>
                  <li><%= link_to "Logout", session_path, :method => :delete %></li>
                <% else %>
                  <li><a href="/auth/identity/register">Signup</a>
                  <li><a href="/auth/identity">Login</a></li>
                <% end %>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
      </div>


      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <p class="copyright"><a href="/about">&#169; 2015 LightningVote</a></p>
      </footer>
    </div>
    <%= javascript_include_tag "application" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58121024-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
