<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lightning Vote" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <a href="/" class="logo"><%= image_tag "lightning-vote-logo.png" %></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="#">Create New Event</a></li>
            <li><a href="/auth/identity/register">Signup</a>
            <li><a href="/auth/identity">Login</a></li>
          </ul>
        </section>
      </nav>


    </div>


    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
