<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lightning Vote" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed show-for-medium-up">
      <nav class="top-bar show-for-medium-up" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <a href="/" class="logo"><%= image_tag "lightning-vote-logo.png" %></a>
          </li>
        </ul>
        <section class="top-bar-section show-for-medium-up">
          <ul class="right top-fix">
            <li><a href="/organizer/events/new">Create New Event</a></li>
            <li><a href="/auth/identity/register">Signup</a>
            <li><a href="/auth/identity">Login</a></li>
            <li><a href="/current_user">My Profile</a></li>
          </ul>
        </section> -->

        <!-- <section class="top-bar-section small-menu-icon right">
          <ul class="right small-screen-menu">
            <li class="has-dropdown">
              <a class="small-menu-dropdown" href="#"></a>
              <ul class="dropdown right">
                <li><a href="#">Create New Event</a></li>
                <li><a href="#">Signup</a>
                <li><a href="#">Login</a></li>
              </ul>
            </li>
          </ul>
        </section> -->
    </div>

    <div class="fixed show-for-small-only">
      <nav class="top-bar" data-topbar role="navigation">
        <a href="/" class="logo"><%= image_tag "lightning-vote-logo.png" %></a>

        <section class="top-bar-section small-menu-icon right">
          <ul class="right small-screen-menu">
            <li class="has-dropdown">
              <a class="small-menu-dropdown" href="#"></a>
              <ul class="dropdown right">
                <li><a href="/organizer/events/new">Create New Event</a></li>
                <li><a href="/auth/identity/register">Signup</a>
                <li><a href="/auth/identity">Login</a></li>
                <li><a href="/current_user">My Profile</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>


    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
